/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 mars 2018, 19:20:32
    Author     : ons
*/

.bgaddcat{
    -fx-background-image: url("bg1.jpg");
}

.bgaddresresto{
    -fx-background-image: url("bg2.jpg");
    
}

.bgMenuBar{
    -fx-background-image: url("bg1.jpg");
    
}
.jfx-hamburger StackPane { -fx-background-color: white; }